body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

#about, #videos {
    margin: 20px 0;
}

h1, h2 {
    color: #333;
}

#video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-item {
    margin: 20px 0;
    text-align: center;
}

.video-title {
    margin-top: 10px;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}