body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 50px; /* Add space for the footer */
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

#about, #videos {
    margin: 20px 0;
}

h1, h2 {
    color: #333;
}

#video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px; /* Add space below the video container */
}

.video-item {
    margin: 20px 0;
    text-align: center;
}

.video-title {
    margin-top: 10px;
    font-weight: bold;
}

/* Section with background image */
.background-section {
    background-image: url('images/pngtree-video-playback-logo-decoration-background-image_340161.jpg'); /* Update the path here */
    background-size: cover; /* Ensures the image covers the section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image repetition */
    padding: 2rem; /* Adds padding around the content */
    color: #fff; /* Sets text color to white for better contrast */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
}